# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages used for Data Science
- List commonly used libraries for Data Science
- Some development environment open source tools used in Data Science
- Examples of arithmetic expressions used in python

## Author
Segun

Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:

1. panda
2. Numpy
3. Matplotlib
4. dplyr
5. ggplot

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| VS Code |

Below are a few examples of evaluating arithmetic expressions in python

3+4

20*2

100/5

In [3]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes/60

print(hours, "Hours")

3.3333333333333335 Hours